:root {
    --light-yellow: #FFD080;
    --light-orange: #E38956;
    --black: #333;
    --white: #fff;
    --red: #c0392b;
    --light-color: #666;
    --light-bg: #f5f5f5;
    --light-pink: #f7ecd9;
    --light-white: #ccc;
    --border: .1rem solid var(--light-color);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;    
}

section {
    padding: 25rem 5rem;
}

.titulo {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: var(--black);
    font-size: 4rem;
}

/* Botones */
.btn,
.option-btn,
.delete-btn,
.white-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    background-color: var(--light-yellow);
    color: var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
}

.btncolor{
    background-color: #91E6CD !important;
}

.delete-btn{
    background-color: var(--red);
}

.white-btn:hover {
    background-color: var(--white);
    color: var(--black);
}
.btn:hover,
.delete-btn:hover,
.option-btn:hover{
    background-color: var(--black);
}


/* Inicio Encabezado */

.header .header-2 {
    background-color: var(--light-pink);
}

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .header-2 .flex {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header .header-2 .flex .logo a img {
    width: 7.5rem;
}

.header .header-2 .flex p{
    font-size: 2rem;
    color: var(--light-color);
}

.header .header-2 .flex .navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--light-color);
}

.header .header-2 .flex .navbar a:hover {
    color: var(--light-orange);
}

.header .header-2 .flex .icons>* {
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    margin-left: 1.5rem;
}

.header .header-2 .flex .icons>*:hover {
    color: var(--light-orange);
}

#menu-btn {
    display: none;
}

/* Seccion Inicio */
.home {
    min-height: auto;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .hero {
    text-align: center;
    width: 90rem;
}

.home .hero h3 {
    font-size: 5.5rem;
    color: var(--white);
    text-transform: uppercase;
}

.home .hero p {
    font-size: 2.5rem;
    color: var(--light-white);
    padding: 1rem 0;
    line-height: 1.5;
}
/* media queries  */

@media only screen and (max-width: 767px) {
    body {
      background-image: url(../img/fondo.jpg);
    }
}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .header-2 .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .header-2 .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .header-2 .flex .navbar a {
        display: block;
        font-size: 2.5rem;
        margin: 2rem;
    }

    .home .content h3 {
        font-size: 3.5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading h3 {
        font-size: 3.5rem;
    }

    .title {
        font-size: 3rem;
    }

}

td, th{
    padding: 5px 10px;
    border-color: #333;
}